.notebook {
    cursor: pointer;
}

.checkbox {
    margin-right: 8px;
    cursor: pointer;
}

.option {
    margin-right: 8px;
}

#manageNotebooksNoNotebooks {
    margin-bottom: 0px;
    padding: 8px;
}

.backdrop {
    background-color: transparent;
}
