<div class="modal-header">
    <h5 class="modal-title" id="addTagDialogTitle">Add tag</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="modal-body">
        <input type="text" class="form-control form-control" id="tagInput" name="tag" placeholder="Tag" minlength="1" maxlength="200" required ngModel (input)="onTagInput(form)">
        <div *ngIf="exists" id="addTagExists" class="alert alert-danger">The tag already exists</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" [disabled]="!form.valid || !valid || exists">Accept</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</form>
