<div class="modal fade" id="addTagDialog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addTagDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTagDialogTitle">Add tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg" id="tagInput" name="tag" placeholder="Tag" required ngModel (input)="onTagInput(form)">
                        <label for="tagInput">Tag</label>
                    </div>
                    <div *ngIf="exists" id="addTagExists" class="alert alert-danger">The tag already exists</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="!form.valid || !valid || exists">Accept</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
