<div *ngIf="note" class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-md-9">
                {{ note.title }}
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-secondary float-end" aria-label="Close" (click)="close()">
                    <i class="bi-x-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary float-end option">
                    <i class="bi-trash"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary float-end option">
                    <i class="bi-pencil-square"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="note.tags" id="tags">
            <app-tag *ngFor="let t of note.tags" [name]="t" [color]="getTagColor(t)"></app-tag>
        </div>
        <div>{{ note.body }}</div>
    </div>
</div>
