<div class="modal fade" id="selectNotebookDialog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="selectNotebookDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectNotebookDialogTitle">Select notebook</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="notebooks.length > 0" class="list-group">
                <a *ngFor="let n of notebooks" class="list-group-item list-group-item-action" href="#">{{ n.name }}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
