<div class="modal fade" id="newNotebookDialog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="newNotebookDialogTitle" aria-hidden="true" (show.bs.modal)="onShow(form)">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newNotebookDialogTitle">New notebook</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg" id="nameInput" name="name" placeholder="name" required ngModel (input)="onNameInput(form)">
                        <label for="nameInput">Name</label>
                    </div>
                    <div *ngIf="exists" id="newNotebookExists" class="alert alert-danger">The notebook already exists</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="!form.valid || !valid || exists">Accept</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
